streamlit

langchain==0.3.27
langchain-core==0.3.79
langchain-community==0.3.27
langsmith==0.4.40

langchain-google-genai
google-generativeai
langchain-pinecone
pinecone-client

pypdf
python-dotenv

SpeechRecognition
pydub
gTTS
PyAudio

deep-translator
